
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal{
	margin: 0.3em;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;
	}

span.Heading1Char
	{
	font-family:"Times New Roman",serif;
	font-weight:bold;}
span.Heading2Char
	{
	font-family:"Times New Roman",serif;
	font-weight:bold;}
span.Heading3Char
	{
	font-family:"Times New Roman",serif;
	font-weight:bold;}

.MsoChpDefault
	{
	font-family:"Calibri",sans-serif;
	}
.MsoPapDefault
	{
	margin-bottom:8.0pt;
	line-height:107%;}

ol
	{margin-bottom:0in;}
ul
    {margin-bottom:0in;}
    
     /* Style Definitions */
 table.MsoNormalTable
 {
 line-height:107%;
 
 font-size:11.0pt;
 font-family:"Calibri",sans-serif;
 }