.App {
  font-family: sans-serif;
  text-align: center;
  background-color: mediumaquamarine;
  margin: 0;

  .PublicLanding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: greenyellow;
    padding-top: 20px;

    &_Content {
      display: flex;
      flex-wrap: wrap;
      overflow: auto;
      max-height: 400px;
      background-color: mediumaquamarine;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      margin: 40px;
      margin-left: 80px;
      margin-right: 80px;
      border-radius: 10px;
    }
  }

  .CreateAccount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: yellowgreen;
  }

  .Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightblue;
  }

  .Header {
    background-color: mediumaquamarine;
    position: fixed;
    top: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 0px;

    &_Logo {
      &:hover {
        cursor: pointer;
      }
    }

    &_Align {
      display: flex;
      align-items: center;
    }
  }

  .PreFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightgreen;
    div {
      margin: 40px;
    }
  }
  .Footer {
    background-color: mediumaquamarine;
    color: darkslategray;
    font-size: 14px;
    padding: 30px;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .Social {
    border-radius: 60px;
  }
  .Card {
    display: flex;
    max-width: 600px;
    padding: 10px;
    margin: 5px;
    border: solid blue 2px;
    border-radius: 10px;
    background-color: wheat;
    &:hover {
      border: solid pink 2px;
      background-color: white;
    }
  }

  .profileText {
    color: grey;
  }

  .textMargin {
    margin: 5px;
  }

  .AlignItems {
    display: flex;
    align-items: center;
  }

  .Row {
    flex-direction: row;
  }

  .Col {
    flex-direction: column;
  }

  .AlignLeft {
    justify-content: flex-end;
  }

  .InputStyle {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: greenyellow;
    width: 200px;
  }

  .InputTextLabel {
    margin-left: 10px;
    font-size: 12px;
    color: grey;
  }

  .Red {
    border-color: darkred;
  }

  .LoginBox {
    border: solid green 2px;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
  }

  .TogglePassword {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 3px;
    position: absolute;
    top: 5px;
    right: 5px;

    &:hover {
    }
  }

  button {
    color: green;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: solid;

    &:hover {
      background-color: lightgreen;
      color: white;
    }
  }

  footer {
    margin-top: 20px;
    background-color: gray;
    padding: 10px;
    display: flex;
    justify-content: center;
  }
}
