$MALACHITE: #20bf55;
$PATCHGREEN: #0b8e51;
$DARKIMPERIALBLUE: #0b4f6c;
$LIGHTGOLD: #f2f6d0;
$LIGHTGREY: #d0e1d4;
$GHOSTWHITE: #fbfbff;
$SONICSILVER: #757575;

.App {
  font-family: "Raleway", sans-serif;
  text-align: center;
  //background-color: $GHOSTWHITE;
  margin: 0;
  padding: 0;
  color: $PATCHGREEN;
  font-size: 14pt;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/preschoolpatch-f04be.appspot.com/o/public%2FwhiteWoodBG.jpg?alt=media&token=51c0538f-945d-4cf1-9c8f-4a5c54e8e557");
  background-repeat: no-repeat;
  background-attachment: fixed;
  // Pages

  .FixedBG {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/preschoolpatch-f04be.appspot.com/o/public%2FwhiteWoodBG.jpg?alt=media&token=51c0538f-945d-4cf1-9c8f-4a5c54e8e557");
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .PublicLanding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding-top: 20px;

    &_Content {
      display: flex;
      flex-wrap: wrap;
      overflow: auto;
      max-height: 400px;
      background-color: $LIGHTGOLD;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      margin: 40px;
      margin-left: 80px;
      margin-right: 80px;
      border-radius: 10px;
    }

    &_HowItWorks {
      font-size: 18pt;
    }

    &_Step {
      text-align: center;
      max-width: 10px;
      max-height: 10px;
      display: block !important;
      border-radius: 30px;
      padding: 20px;
      background-color: $PATCHGREEN;
      color: $GHOSTWHITE;
      font-size: 18pt;
    }
  }

  .SimpleBorder {
    border: solid 1px rgba(0, 220, 0, 0.4);
    border-radius: 20px;
    padding: 30px;
  }

  .CheckBox {
    border: none;
    background-color: transparent;
    padding: 0;
    border-radius: 20px;
    margin: 5px;
    &:hover {
      cursor: pointer;
    }
  }

  .CreateAccount {
    background-color: $PATCHGREEN;
  }

  .Login {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &_Imagery {
      width: 400px;
      height: auto;
      border-radius: 100px;
      margin: 100px;
    }
  }

  // Components

  .Header {
    background-color: $PATCHGREEN;
    position: fixed;
    top: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 0px;

    &_Logo {
      &:hover {
        cursor: pointer;
      }
    }

    &_Align {
      display: flex;
      align-items: center;
    }

    &_MessageBtn {
      background-color: $MALACHITE;
      padding: 5px;
      margin: 2px;
      color: $GHOSTWHITE;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: $GHOSTWHITE;
        padding: 5px;
        margin: 2px;
        color: $PATCHGREEN;
      }
    }
  }

  .PreFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(233, 233, 233);
    div {
      margin: 40px;
    }
  }

  .Footer {
    background-color: $MALACHITE;
    color: darkslategray;
    font-size: 14px;
    padding: 30px;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .LoginForm {
    // background-color: white;
    border: solid 1px mediumaquamarine;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
  }

  // General Styling

  .LargeFont {
    font-size: 28pt;
  }

  .SuperFont {
    font-size: 34pt;
  }

  .Logo {
    margin-left: 200px;
    margin-top: 20px;
  }

  .Social {
    border-radius: 60px;
    border-color: $MALACHITE;
  }

  .GreenFill {
    background-color: $PATCHGREEN;
    color: $GHOSTWHITE;
    padding: 50px;
    border-radius: 20px;
  }

  .WhiteFill {
    background-color: $GHOSTWHITE;
    border-radius: 20px;
    margin: 50px;
  }

  .Card {
    display: flex;
    max-width: 600px;
    padding: 10px;
    margin: 5px;
    border: solid $DARKIMPERIALBLUE 2px;
    border-radius: 10px;
    transition: all 1s;

    &:hover {
      border: solid $MALACHITE 2px;
      background-color: white;
    }

    &:hover > &_Pic {
      width: 150px;
    }
    &_Pic {
      border-radius: 50px;
      width: 100px;
      height: auto;
      transition: width 1s;
    }
  }

  .CursiveFont {
    font-family: "Dancing Script", cursive;
  }

  .profileText {
    color: $PATCHGREEN;
  }

  .textMargin {
    margin: 5px;
  }

  .BoxShadow {
    box-shadow: 10px 10px 20px lightslategray;
  }

  .Flex {
    display: flex;
  }

  .JustifyCenter {
    justify-content: center;
  }
  .AlignItems {
    align-items: center;
  }

  .Row {
    flex-direction: row;
  }

  .Col {
    flex-direction: column;
  }

  .JustifyEnd {
    justify-content: flex-end;
  }

  .Buffer {
    padding: 10px;
    margin: 10px;
  }

  .FakeButton {
    border: solid 1px $DARKIMPERIALBLUE;
    background-color: lightsteelblue;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
  }

  .InputStyle {
    padding: 10px;
    margin: 10px;
    border: solid 1px rgba(0, 220, 0, 0.4);
    border-radius: 5px;
    border-style: solid;
    border-color: $MALACHITE;
  }

  .InputTextLabel {
    margin-left: 10px;
    font-size: 12px;
    color: $SONICSILVER;
  }

  .RegisterButton {
    padding: 10px;
    margin: 10px;
    background-color: $MALACHITE;
    color: white;
    font-size: 14pt;

    &:hover {
      background-color: $LIGHTGOLD;
      color: $MALACHITE;
      cursor: pointer;
      font-size: 14pt;
    }
  }

  .Red {
    border-color: darkred;
  }

  .LoginError {
    margin: 10px;
    border: solid 1px red;
    color: darkred;
    font-style: italic;
    border-radius: 20px;
    padding: 20px;
  }
  .LoginBox {
    border: solid $MALACHITE 2px;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
  }

  .TogglePassword {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 3px;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  textarea {
    font-family: "Raleway", sans-serif;
    padding: 20px;
    border-radius: 10px;
    font-size: 12pt;
  }

  button {
    color: $MALACHITE;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: solid;
    transition: color 1s;

    &:hover {
      background-color: $MALACHITE;
      color: white;
    }
  }

  footer {
    margin-top: 20px;
    background-color: $SONICSILVER;
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  li {
    font-size: 16pt;
  }
}
